<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FourStore</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="web/assets/img/favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="web\assets\css\bootstrap.min.css">
    <link rel="stylesheet" href="web\assets\css\plugin.css">
    <link rel="stylesheet" href="web\assets\css\bundle.css">
    <link rel="stylesheet" href="web\assets\css\style.css">
    <link rel="stylesheet" href="web\assets\css\responsive.css">
    <script src="web\assets\js\vendor\modernizr-2.8.3.min.js"></script>
</head>
<body>
<!-- Add your site or application content here -->

<!--pos page start-->
<div class="pos_page">
    <div class="container">
        <!--pos page inner-->
        <div class="pos_page_inner">
            <!--header area -->
            <div th:replace="~{layout/webheader :: webheader}"></div>
            <!--header end -->

            <!--breadcrumbs area start-->
            <div class="breadcrumbs_area">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_content">
                            <ul>
                                <li><a href="index.html">Trang chủ</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li>Giỏ hàng</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs area end-->
            <!--shopping cart area start -->
            <div class="shopping_cart_area">
                <form id="checkoutForm" action="" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="table_desc">
                                <div class="cart_page table-responsive">
                                    <table>
                                        <thead>
                                        <tr>
                                            <th><input type="checkbox" onchange="iselectAll()" id="selectAll"></th>
                                            <th class="product_thumb">Hình ảnh</th>
                                            <th class="product_name">Tên sản phẩm</th>
                                            <th class="product-price">Giá bán</th>
                                            <th class="product_quantity">Số lượng</th>
                                            <th class="product_remove">Xóa</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="x,i: ${giohang.cartDetails}">
                                            <td style="width: 100px"><input onchange="iselectSp()" type="checkbox"
                                                                            th:id="'product' + ${i.index}"
                                                                            th:value="${x.product.id}" name="idSp"></td>
                                            <td class="product_thumb"><a href="#"><img th:src="@{${x.product.img}}"
                                                                                       alt=""></a></td>
                                            <td class="product_name"><a href="#" th:text="${x.product.name}"></a></td>
                                            <td class="product-price" th:text="${x.priceFomat}"></td>
                                            <td class="product_quantity"><input th:id="'quantity'+${i.index}"
                                                                                name="quantity" min="1"
                                                                                th:max="${x.product.quantity}"
                                                                                th:value="${x.quantity}"
                                                                                type="number" onchange="tinhtien()">
                                            </td>
                                            <td class="product_remove"><a
                                                    th:href="@{'/cart/delete-product/'+${x.product.id}}"><i
                                                    class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area start-->
                    <div class="coupon_area">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="coupon_code">
                                    <h3>Sản phẩm</h3>
                                    <div class="coupon_inner">
                                        <div class="cart_subtotal">
                                            <p>Đã chọn :</p>
                                            <p class="cart_amount" id="tongsp"></p>
                                        </div>
                                        <div class="checkout_btn">
                                            <button type="button" onclick="deletecarr()">Xóa khỏi giỏ hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="coupon_code">
                                    <h3>Tổng thanh toán</h3>
                                    <div class="coupon_inner">
                                        <div class="cart_subtotal">
                                            <p>Tổng tiền hàng</p>
                                            <p class="cart_amount" id="tongTien">0 đ</p>
                                            <input type="hidden" id="selectedProducts" name="selectedProducts"/>
                                        </div>
                                        <div class="checkout_btn">
                                            <button type="button" onclick="submitCheckoutForm()">Thanh toán</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--coupon code area end-->
                </form>
            </div>
            <!--shopping cart area end -->
        </div>
        <!--pos page inner end-->
    </div>
</div>
<!--pos page end-->

<!--footer area start-->
<div th:replace="~{layout/webfooter :: webfooter}"></div>

<script>
    const format = new Intl.NumberFormat('vi-VN', {style: 'currency', currency: 'VND'});

    function iselectAll() {
        var selectall = document.getElementById("selectAll");
        var sp = document.getElementsByName("idSp");
        if (selectall.checked == true) {
            sp.forEach(x => x.checked = true);
        } else {
            sp.forEach(x => x.checked = false);
        }
        tinhtien();
    }

    function parseFormattedCurrency(x) {
        const cleanedString = x.replace(/[^\d.,]/g, '');

        // Thay thế dấu phẩy (nếu có) bằng dấu chấm và chuyển đổi chuỗi thành số
        const parsedNumber = cleanedString.replaceAll('.', '');

        return Number(parsedNumber);
    }

    function iselectSp() {
        document.getElementById("selectAll").checked = false;
        tinhtien();
    }

    function tinhtien() {
        checkinputsl();
        var checkboxes = document.getElementsByName('idSp');
        var total = 0;
        var count = 0;

        checkboxes.forEach(function (checkbox, index) {
            if (checkbox.checked) {
                // Assuming prices and quantities are stored in adjacent cells
                var row = checkbox.closest('tr');
                var price = row.querySelector('.product-price').textContent;
                var quantity = parseInt(row.querySelector('.product_quantity input').value);
                count++;
                total += parseFormattedCurrency(price) * quantity;
            }
        });

        // Update the total amount on your page
        document.getElementById('tongsp').textContent = count + " sản phẩm";
        document.getElementById('tongTien').textContent = format.format(total.toFixed(0));
    }

    function submitCheckoutForm() {
        var checkboxes = document.getElementsByName('idSp');
        var selectedProducts = [];
        var count = 0;

        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                count++;
                var row = checkbox.closest('tr');
                var productId = checkbox.value; // Thay thế bằng selector của ID sản phẩm hoặc thông tin khác
                var quantity = parseInt(row.querySelector('.product_quantity input').value);

                selectedProducts.push({
                    productId: productId,
                    quantity: quantity
                });
            }
        });
        if (count > 0) {
            document.getElementById('selectedProducts').value = JSON.stringify(selectedProducts);
            // Submit form
            document.getElementById('checkoutForm').action = "/checkout"
            document.getElementById('checkoutForm').submit();
        } else {
            alert("hãy chọn sản phẩm cần thanh toán");
        }
    }

    function deletecarr() {
        var checkboxes = document.getElementsByName('idSp');
        var selectedProducts = [];
        var count = 0;

        checkboxes.forEach(function (checkbox) {
            if (checkbox.checked) {
                count++;
                var row = checkbox.closest('tr');
                var productId = checkbox.value; // Thay thế bằng selector của ID sản phẩm hoặc thông tin khác
                var quantity = parseInt(row.querySelector('.product_quantity input').value);

                selectedProducts.push({
                    productId: productId,
                    quantity: quantity
                });
            }
        });
        if (count > 0) {
            document.getElementById('selectedProducts').value = JSON.stringify(selectedProducts);
            // Submit form
            document.getElementById('checkoutForm').action = "/delete/cart"
            document.getElementById('checkoutForm').submit();
        } else {
            alert("hãy chọn sản phẩm cần xóa");
        }
    }

    function checkinputsl() {
        var target = event.target;
        inputValue = target.value;
        if (inputValue < parseFloat(target.min)) {
            target.value = target.min;
        } else if (inputValue > parseFloat(target.max)) {
            target.value = target.max;
        }

    }
</script>

<!-- all js here -->
<script src="web\assets\js\vendor\jquery-1.12.0.min.js"></script>
<script src="web\assets\js\popper.js"></script>
<script src="web\assets\js\bootstrap.min.js"></script>
<script src="web\assets\js\ajax-mail.js"></script>
<script src="web\assets\js\plugins.js"></script>
<script src="web\assets\js\main.js"></script>
</body>
</html>
