<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Coron-shop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="web/assets/img/favicon.png">

    <!-- all css here -->
    <link rel="stylesheet" href="web\assets\css\bootstrap.min.css">
    <link rel="stylesheet" href="web\assets\css\plugin.css">
    <link rel="stylesheet" href="web\assets\css\bundle.css">
    <link rel="stylesheet" href="web\assets\css\style.css">
    <link rel="stylesheet" href="web\assets\css\responsive.css">
    <script src="web\assets\js\vendor\modernizr-2.8.3.min.js"></script>
    <style>
        .page-item.active .page-link {
            color: #fff;
            background-color: #00bba6;
            border-color: #008071;
        }

        .page-link {
            color: #0a0a0a;
        }

        a:hover {
            color: red;
        }
    </style>
</head>

<body>
<!-- Add your site or application content here -->
<div class="pos_page">
    <div class="container">
        <!--pos page inner-->
        <div class="pos_page_inner">
            <!--header end -->
            <div th:replace="~{layout/webheader :: webheader}"></div>
            <!--breadcrumbs area start-->
            <div class="breadcrumbs_area">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_content">
                            <ul>
                                <li><a href="/home">Trang chủ</a></li>
                                <li><i class="fa fa-angle-right"></i></li>
                                <li>Sản phẩm</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs area end-->

            <!--pos home section-->
            <div class=" pos_home_section">
                <div class="row pos_home">
                    <div class="col-lg-3 col-md-12">
                        <!--layere categorie"-->
                        <div class="sidebar_widget shop_c">
                            <div class="categorie__titile">
                                <h4>Danh mục</h4>
                            </div>
                            <div class="layere_categorie">
                                <ul>
                                    <li th:each="x : ${typeProduct}">
                                        <label><a th:href="@{'/shop?category='+ ${x.id}}"
                                                  th:text="${x.name}"></a></label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--layere categorie end-->
                        <!--popular tags area-->
                        <div class="sidebar_widget shop_c">
                            <div class="categorie__titile">
                                <h4>Thương hiệu</h4>
                            </div>
                            <div class="layere_categorie">
                                <ul>
                                    <li th:each="x : ${brands}">
                                        <label><a th:href="@{'/shop?brand='+ ${x.id}}" th:text="${x.name}"></a></label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--popular tags end-->
                    </div>
                    <div class="col-lg-9 col-md-12">

                        <!--shop toolbar start-->
                        <div class="shop_toolbar mb-35">

                            <div class="list_button">
                                <ul class="nav" role="tablist">
                                    <li>
                                        <a class="active" data-toggle="tab" href="#large" role="tab"
                                           aria-controls="large" aria-selected="true"><i class="fa fa-th-large"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--shop toolbar end-->

                        <!--shop tab product-->
                        <div class="shop_tab_product">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="large" role="tabpanel">
                                    <div id="productListContainer" class="row">
                                        <!--                                        <div class="col-lg-4 col-md-6" th:each="x : ${topProducts}">-->
                                        <!--                                            <div class="single_product">-->
                                        <!--                                                <div class="product_thumb">-->
                                        <!--                                                    <a th:href="@{'/shop/'+ ${x.id}}"><img-->
                                        <!--                                                            th:src="@{${x.image}}"-->
                                        <!--                                                            alt=""></a>-->
                                        <!--                                                    <div class="img_icone">-->
                                        <!--                                                        <img src="/web/assets/img/cart/span-new.png" alt="">-->
                                        <!--                                                    </div>-->
                                        <!--                                                    <div class="product_action">-->
                                        <!--                                                        <a th:href="@{'/shop/'+ ${x.id}}">Thêm vào giỏ hàng</a>-->

                                        <!--                                                    </div>-->
                                        <!--                                                </div>-->
                                        <!--                                                <div class="product_content">-->
                                        <!--                                                    <span class="product_price" th:text="${x.priceFomat}"></span>-->
                                        <!--                                                    <h3 class="product_title"><a th:href="@{'/shop/'+ ${x.id}}"-->
                                        <!--                                                                                 th:text="${x.name}"></a></h3>-->
                                        <!--                                                </div>-->
                                        <!--                                                <div class="product_info">-->
                                        <!--                                                    <ul>-->
                                        <!--                                                        <li><a th:href="@{'/shop/'+ ${x.id}}"> <i class="fa fa-shopping-cart"></i>Xem-->
                                        <!--                                                            chi tiết</a></li>-->
                                        <!--                                                    </ul>-->
                                        <!--                                                </div>-->
                                        <!--                                            </div>-->
                                        <!--                                        </div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--shop tab product end-->

                        <!--pagination style start-->
                        <div class="pagination_style mt-5">
                            <div class="item_page">
                            </div>
                            <div class="page_number">
                                <span>Pages: </span>
                                <ul id="paginationContainer">

                                </ul>
                            </div>
                        </div>
                        <!--pagination style end-->
                    </div>
                </div>
            </div>
            <!--pos home section end-->
        </div>
        <!--pos page inner end-->
    </div>
</div>
<div th:replace="~{layout/webfooter :: webfooter}"></div>
<!--pos page end-->
<script th:inline="javascript">
    var itemsPerPage = 9; // Số sản phẩm trên mỗi trang
    var currentPage = 1; // Trang hiện tại

    function displayProducts() {
        var startIndex = (currentPage - 1) * itemsPerPage;
        var endIndex = startIndex + itemsPerPage;

        var currentPageProducts = /*[[${topProducts}]]*/ []; // Danh sách sản phẩm từ Thymeleaf

        // Hiển thị sản phẩm ở trang hiện tại
        var productListContainer = document.getElementById("productListContainer");
        productListContainer.innerHTML = "";

        currentPageProducts.slice(startIndex, endIndex).forEach(function (x) {
            var productElement = document.createElement("div");
            productElement.className = "col-lg-4 col-md-6";
            productElement.innerHTML = `
                <div class="single_product">
                    <div class="product_thumb">
                        <a href="/shop/${x.id}"><img src="${x.image}" alt=""></a>
                        <div class="img_icone">
                            <img src="/web/assets/img/cart/span-new.png" alt="">
                        </div>
                        <div class="product_action">
                            <a href="/shop/${x.id}">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                    <div class="product_content">
                        <span class="product_price">${x.priceFomat}</span>
                        <h3 class="product_title"><a href="/shop/${x.id}">${x.name}</a></h3>
                    </div>
                    <div class="product_info">
                        <ul>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i>Xem chi tiết</a></li>
                        </ul>
                    </div>
                </div>
            `;
            productListContainer.appendChild(productElement);
        });

        // Hiển thị phân trang
        // Hiển thị phân trang
        var totalPages = Math.ceil(currentPageProducts.length / itemsPerPage);
        var paginationContainer = document.getElementById("paginationContainer");
        paginationContainer.innerHTML = "";

        // Nút "«"
        var prevLink = document.createElement("li");
        prevLink.className = "page-item";
        var prevButton = document.createElement("a");
        prevButton.className = "page-link";
        prevButton.href = "#";
        prevButton.textContent = "«";
        prevButton.onclick = function () {
            if (currentPage > 1) {
                currentPage--;
                displayProducts();
            }
        };
        prevLink.appendChild(prevButton);
        paginationContainer.appendChild(prevLink);

        // Nút số trang
        for (var i = 1; i <= totalPages; i++) {
            var pageLink = document.createElement("li");
            pageLink.className = "page-item";
            var pageButton = document.createElement("a");
            pageButton.className = "page-link";
            pageButton.href = "#";
            pageButton.textContent = i;
            pageButton.onclick = function () {
                currentPage = parseInt(this.textContent);
                displayProducts();
            };
            if (i === currentPage) {
                pageLink.classList.add("active");
            }
            pageLink.appendChild(pageButton);
            paginationContainer.appendChild(pageLink);
        }

        // Nút "»"
        var nextLink = document.createElement("li");
        nextLink.className = "page-item";
        var nextButton = document.createElement("a");
        nextButton.className = "page-link";
        nextButton.href = "#";
        nextButton.textContent = "»";
        nextButton.onclick = function () {
            if (currentPage < totalPages) {
                currentPage++;
                displayProducts();
            }
        };
        nextLink.appendChild(nextButton);
        paginationContainer.appendChild(nextLink);
    }

    // Gọi hàm để hiển thị sản phẩm khi trang được tải
    displayProducts();
</script>
<!-- all js here -->
<script src="web\assets\js\vendor\jquery-1.12.0.min.js"></script>
<script src="web\assets\js\popper.js"></script>
<script src="web\assets\js\bootstrap.min.js"></script>
<script src="web\assets\js\ajax-mail.js"></script>
<script src="web\assets\js\plugins.js"></script>
<script src="web\assets\js\main.js"></script>
</body>

</html>