<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<div class="left-side-menu" th:fragment="sidebar">


    <div class="user-box">
        <div class="float-left">
            <img src="/assets/images/users/avatar-1.jpg" alt="" class="avatar-md rounded-circle">
        </div>
        <div class="user-info">
            <a href="#">Lê Việt Hưng</a>
            <p class="text-muted m-0">Administrator</p>
        </div>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">

        <ul class="metismenu" id="side-menu">

            <li>
                <a href="/admin/dashboard">
                    <i class="ti-home"></i>
                    <span> Bảng Điều Khiển </span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);">
                    <i class="ti-package"></i>
                    <span>Quản lý sản phẩm</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="/admin/product">Sản phẩm</a></li>
                    <li><a href="/admin/size-color">Kích cỡ màu sắc</a></li>
                    <li><a href="/admin/product-type">Loại hàng</a></li>
                </ul>
            </li>
            <li>
                <a href="/admin/category">
                    <i class="ti-package"></i>
                    <span> Danh mục </span>
                </a>
            </li>
            <li>
                <a href="javascript: void(0);">
                    <i class="ti-printer"></i>
                    <span>Quản lý giao dịch</span>
                    <span class="menu-arrow"></span>
                </a>
                <ul class="nav-second-level" aria-expanded="false">
                    <li><a href="/admin/counter">Bán hàng tại quầy</a></li>
                    <li><a href="/admin/invoice">Đơn hàng</a></li>
                </ul>
            </li>


            <li>
                <a href="/admin/promotion">
                    <i class="ti-gift"></i>
                    <span> Khuyễn Mãi</span>
                </a>
            </li>

            <li>
                <a href="/admin/statictical">
                    <i class="ti-pie-chart"></i>
                    <span> Thống Kê </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- End Sidebar -->

    <div class="clearfix"></div>


</div>
</body>
</html>