<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <!--CDN BOOTRAP-->
    <script src="https://cdn.rawgit.com/serratus/quaggaJS/0.12.1/dist/quagga.min.js"></script>

    <style>
        .nav-tabs .nav-item {
            position: relative;
            width: 120px;
        }

        .close-btn {
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 8px;
            color: #3f474c;
        }

        .close-btn :hover {
            color: red;
        }

        /* Style for the alert */
        #alertMessage {
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 1000;
            max-width: 300px;
        }

        @media (min-width: 1140px) {
            .hori-timeline .events .event-list {
                display: inline-block;
                width: 24%;
                padding-top: 45px;
            }

            .hori-timeline .events .event-list .event-date {
                top: 20px;
            }
        }

        .ui-w-40 {
            width: 100px !important;
            height: auto;
        }

        @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
        }

        .checkbox_item:last-child .checkbox_wrap {
            margin-bottom: 0;
        }

        .checkbox_item .checkbox_wrap .checkbox_inp {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 1;
        }

        .checkbox_item .checkbox_wrap .checkbox_mark {
            display: inline-block;
            position: relative;
            border-radius: 25px;
        }

        .checkbox_item .checkbox_wrap .checkbox_mark:before,
        .checkbox_item .checkbox_wrap .checkbox_mark:after {
            content: "";
            position: absolute;
            transition: all 0.5s ease;
        }


        /* flat styles */
        .checkbox_item.citem_2 .checkbox_wrap .checkbox_mark {
            border: 5px solid #f0f0f0;
            width: 100px;
            height: 50px;
            padding: 2px;
        }

        .checkbox_item.citem_2 .checkbox_wrap .checkbox_mark:before {
            top: 2px;
            left: 2px;
            width: 44px;
            height: 36px;
            background: #f0f0f0;
            border-radius: 25px;
        }

        .checkbox_item.citem_2 .checkbox_wrap .checkbox_inp:checked ~ .checkbox_mark {
            border-color: #34bfa3;
        }

        .checkbox_item.citem_2 .checkbox_wrap .checkbox_inp:checked ~ .checkbox_mark:before {
            left: 44px;
            background: #34bfa3;
        }

        .nav-link {
            position: relative;
            padding-right: 25px; /* Đảm bảo khoảng trắng đủ để hiển thị ô tròn */
        }

        .badge {
            position: absolute;
            top: -3px;
            right: -1px;
            background-color: red; /* Màu đỏ */
            color: white;
            border-radius: 50%; /* Hình dạng là hình tròn */
            padding: 2px 5px; /* Điều chỉnh khoảng cách giữa nội dung và mép của ô tròn */
        }

        .cnt_full {
            display: block;
            margin: 20px 10px;
            width: 100%;
        }

        .cnt_min {
            display: inline-block;
            width: 250px;
            /*margin: 10px;*/
            height: 100px;
            position: relative;
            /*padding: 0 2%;*/
        }

        .cnt_min input[type="radio"] {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }

        .selected_img {
            pointer-events: none;
            width: 100%;
            height: 100%;
        }

        .cnt_min input[type="radio"]:checked ~ .selected_img {
            border: solid 1px green;
            box-shadow: 0px 1px 4px 0px #ccc;
            border-radius: 5px;
        }
    </style>
</head>


<body onload="time()" class="app sidebar-mini rtl">
<!-- Navbar-->
<div th:replace="~{layout/navbar :: navbar}"></div>
<!-- Sidebar menu-->

<main class="app-content">
    <div class="row">
        <div class="col-md-12">
            <div class="app-title">
                <ul class="app-breadcrumb breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><b>POS bán hàng</b></a></li>
                </ul>
                <div id="clock"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">
                            <a class="btn btn-add btn-sm" href="/admin/sale/create-invoice" title="Thêm"><i
                                    class="fas fa-plus"></i>
                                Tạo mới đơn hàng</a>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="nav nav-tabs" id="myTabs">
                            <li class="nav-item" th:each="x : ${invoice}">
                                <a class="nav-link" th:id="${'tab' + x.codeBill + '-tab'}"
                                   th:data-toggle="tab" th:href="${'#tab' + x.codeBill}" th:text="${x.codeBill}">

                                </a>
                                <span class="badge" th:text="${x.tongSp}"></span>

                                <span class="close-btn"><a th:href="@{'/admin/invoice/delete/'+${x.codeBill}}"><i
                                        class="fas fa-times"></i></a></span>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content mt-2" style="min-height: 300px">
                        <div class="tab-pane fade" th:id="${'tab' + tab.codeBill}" th:each="tab,i : ${invoice}">
                            <div>
                                <button class="btn btn-info"
                                        style="float: right; margin-right: 30px; margin-bottom: 30px"
                                        data-toggle="modal" th:data-target="${'#modal' + tab.codeBill}">Thêm sản phẩm
                                </button>
                                <button class="btn btn-warning"
                                        style="float: right; margin-right: 30px; margin-bottom: 30px"
                                        data-toggle="modal" th:data-target="${'#qrcode' + tab.codeBill}">Quét QR
                                </button>
                            </div>
                            <div class="table-responsive" style="text-align: center">
                                <div th:if="${tab.product == null or tab.product.size() == 0}">
                                    <img width="350px" style="display: inline-block" src="/img/no-cart.png">
                                    <p style="font-size: 18px; font-family: Roboto;margin-top: 10px; color: #000000">Giỏ
                                        hàng của bạn đang trống</p>
                                </div>
                                <div th:if="${tab.product != null && tab.product.size() > 0}">
                                    <table class="table table-hover table-bordered" th:id="${'sampleTable'+i.index}">
                                        <thead>
                                        <tr>
                                            <!-- Set columns width -->
                                            <th class="text-center py-3 px-4" style="width: 100px;">STT</th>
                                            <th class="text-center py-3 px-4" style="min-width: 300px;">Thông tin sản
                                                phẩm
                                            </th>
                                            <th class="text-right py-3 px-4" style="width: 150px;">Số lượng</th>
                                            <th class="text-center py-3 px-4" style="width: 150px;">Đơn giá</th>
                                            <th class="text-center py-3 px-4" style="width: 150px;">Thành tiền</th>
                                            <th class="text-center py-3 px-4" style="width: 80px;">Hành động</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each="a,n : ${tab.product}">
                                            <td class="align-middle p-4" th:text="${n.index+1}"></td>
                                            <td class="p-4">
                                                <div class="media align-items-center">
                                                    <img th:src="@{${a.img}}"
                                                         class="d-block ui-w-40 ui-bordered mr-4" alt="">
                                                    <div class="media-body">
                                                        <a href="#" class="d-block text-dark font-weight-bold"
                                                           style="font-size: large" th:text="${a.name}"></a>
                                                        <span class="text-muted" th:text="${'Color: '+ a.color}"></span>
                                                        <span class="text-muted" th:text="${'Size: ' + a.size}"></span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="text-right font-weight-semibold align-middle p-4 ">
                                                <input class="form-control"
                                                       type="number"
                                                       th:value="${a.quantity}"
                                                       step="1" min="1"
                                                       th:max="${a.productDetail.quantity}"
                                                       th:attr="onchange='updateQuantity(\'' + ${a.id} + '\', \'' + ${tab.codeBill} + '\', this.value, ' + ${a.price} + ')'"/>
                                            </td>
                                            <td class="align-middle p-4" th:text="${a.price + ' đ'}"></td>
                                            <td class="align-middle p-4" th:id="'total-'+${a.id}"
                                                th:text="${a.total + ' đ'}"></td>
                                            <td style="text-align: center">
                                                <a class="btn bg-danger" style="margin-top: 42px"
                                                   th:href="@{'/admin/cart/'+${tab.codeBill} +'/'+${a.id}}"><i
                                                        class="fa fa-trash"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="4" class="text-right"><strong>Tổng cộng :</strong></td>
                                            <td colspan="2"><strong th:id="${'totalAmount-'+tab.codeBill}"
                                                                    th:text="${tab.total + ' đ'}"></strong>

                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                            <div class="row element-button">
                                <div class="col-sm-12 ">
                                    <button class="btn btn-actv"
                                            style="float: right ; margin-right: 30px"
                                            data-toggle="modal" th:data-target="${'#modal-kh' + tab.codeBill}">Chọn
                                        khách hàng
                                    </button>
                                    <button class="btn btn-warning"
                                            style="float: right ; margin-right: 30px"
                                            data-toggle="modal" th:data-target="${'#modal-themkh' + tab.codeBill}">Thêm
                                        khách hàng
                                    </button>
                                </div>
                            </div>
                            <div>
                                <div class="row py-2 d-flex" style="min-height: 500px">
                                    <!-- Ô thông tin khách hàng -->
                                    <div class="col-md-6">
                                        <div class="col">
                                            <h5 class="mb-3">Thông tin khách hàng</h5>
                                            <div>
                                                <p class="mt-3">Khách hàng : <strong
                                                        th:text="${tab.customer}"></strong></p>
                                                <p>Số điện thoại nhận hàng : <strong
                                                        th:text="${tab.sdt}"></strong></p>
                                                <p>Giao hàng tới : <strong
                                                        th:text="${tab.address}"></strong> <button th:if="${tab.shipping}" class="btn btn-link"
                                                        th:attr="onclick='giaoHangEdit( \'' + ${tab.codeBill} + '\')'">sửa</button>
                                                </p>
                                            </div>
                                            <div th:id="'diachi'+${tab.codeBill}" style="display: none">
                                                <form th:action="@{'/admin/sale/addShipping/'+${tab.codeBill}}"
                                                      method="post">
                                                    <div class="form-group col-md-12">
                                                        <label class="control-label">Tên người nhận</label>
                                                        <input type="text" class="form-control" readonly
                                                               th:value="${tab.customer}" name="name">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label class="control-label">Số điện thoại</label>
                                                        <input type="text" class="form-control"
                                                               th:value="${tab.user.phoneNumber}" name="sdt">
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label class="control-label">Tỉnh/Thành phố <label
                                                                style="color:red;">*</label></label>
                                                        <select class="form-control" th:id="${'city' + i.index}"
                                                                name="city"
                                                                aria-label=".form-select-sm">
                                                            <option value="Name" selected>Chọn tỉnh thành</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <label class="control-label">Quận/Huyện <label
                                                                style="color:red;">*</label></label>
                                                        <select class="form-control"
                                                                th:id="${'district' + i.index}" name="district"
                                                                aria-label=".form-select-sm">
                                                            <option value="" selected>Chọn quận huyện</option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <label class="control-label">Phường/Xã <label
                                                                style="color:red;">*</label> </label>
                                                        <select class="form-control" th:id="${'ward' + i.index}"
                                                                name="ward"
                                                                aria-label=".form-select-sm">
                                                            <option value="" selected>Chọn phường xã</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-md-12">
                                                        <label class="control-label">Địa chỉ cụ thể </label>
                                                        <input type="text" class="form-control" name="diachi">
                                                    </div>
                                                    <button class="btn btn-save" type="submit">Xác nhận</button>
                                                    <a class="btn btn-cancel" th:href="@{'/admin/sale/'+${tab.codeBill}+'/huy'}">Hủy giao hàng</a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Ô thông tin thanh toán -->
                                    <div class="col-md-6">
                                        <h5 class="mb-3">Thông tin thanh toán</h5>
                                        <div class="d-flex mt-3">
                                            <div class="checkbox_item citem_2">
                                                <label class="checkbox_wrap">
                                                    <input type="checkbox" name="checkbox" class="checkbox_inp"
                                                           value="true" th:checked="${tab.shipping}"
                                                           th:attr="onclick='giaoHang(this, \'' + ${tab.codeBill} + '\')'">
                                                    <span class="checkbox_mark"></span>
                                                </label>
                                            </div>
                                            <p style="font-size: 20px; margin-top: 10px ;margin-left: 20px; "><strong>Giao
                                                hàng</strong></p>
                                        </div>
                                        <div class="d-flex mt-3">
                                            <div class="col-md-8">
                                                <label class="control-label">Mã giảm giá</label>
                                                <div class="bg-success form-control d-flex" th:if="${tab.pgg != null}"
                                                     th:id="'selectPgg'+ ${tab.codeBill}">
                                                    <p style="margin-top: 8px" th:text="${tab.pgg}"></p>
                                                    <a style="margin-top: 8px; margin-left: 75%"
                                                       th:href="@{'/admin/sale/'+${tab.codeBill}+'/delete-pgg'}">
                                                        <i class="fas fa-times"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <button class="btn btn-secondary" data-toggle="modal"
                                                        th:data-target="${'#modal-pgg' + tab.codeBill}"
                                                        style="margin-top: 35px">Chọn giảm
                                                    giá
                                                </button>
                                            </div>
                                        </div>
                                        <div class="d-flex mt-3">
                                            <div class="col-md-10">
                                                <div class="row mt-2 text-right">
                                                    <label class="text-start col"> <strong>Tổng tiền hàng
                                                        : </strong></label>
                                                    <div class="text-large text-start col"><strong
                                                            th:id="${'total-'+tab.codeBill}"
                                                            th:text="${tab.total}"></strong>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 text-right">
                                                    <label class="text-start col"><strong>Giảm giá
                                                        : </strong></label>
                                                    <div class="text-large text-start col"><strong
                                                            th:id="${'giaGiam-'+tab.codeBill}"
                                                            th:text="${tab.giaGiam}"></strong>
                                                    </div>
                                                </div>
                                                <div class="row mt-2 text-right">
                                                    <label class="text-start col"><strong>Phí vận chuyển
                                                        : </strong></label>
                                                    <div class="text-large col"><strong
                                                            th:id="${'phiShip-'+tab.codeBill}"
                                                            th:text="${tab.shippingCost}"></strong></div>
                                                </div>
                                                <div class="row mt-2 text-right">
                                                    <label class="text-start col"><strong>Thành tiền
                                                        : </strong></label>
                                                    <div class="text-large text-start col"><strong
                                                            th:id="${'grandTotal-'+tab.codeBill}"
                                                            th:text="${tab.grandTotal}"></strong>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-12">
                                            <form method="post"
                                                  th:action="@{'/admin/sale/invoice/payment/'+${tab.codeBill}}">
                                                <div class="form-group">
                                                    <div class="cnt_full">
                                                        <div class="cnt_min">
                                                            <input type="radio" name="paymentMethod" value="1"
                                                                   th:attr="onchange='check(this.value, \'' + ${tab.codeBill} + '\')'"/><img
                                                                src="https://res.cloudinary.com/dg8hhxkah/image/upload/v1701620515/other/pi1jwtxgea8aemra2tcq.png"
                                                                alt="Select payment method" class="selected_img">
                                                        </div>
                                                        <div class="cnt_min">
                                                            <input type="radio" name="paymentMethod" value="2"
                                                                   th:attr="onchange='check(this.value, \'' + ${tab.codeBill} + '\')'"/><img
                                                                src="https://res.cloudinary.com/dg8hhxkah/image/upload/v1701620515/other/fdrr5dpjoiex9g351jhj.png"
                                                                alt="Select payment method" class="selected_img">
                                                        </div>
                                                    </div>
                                                    <div th:id="'tienmat'+${tab.codeBill}" style="display: none">
                                                        <div class="form-group col-md-12">
                                                            <label class="control-label">Tiền khách đưa</label>
                                                            <input type="number" min="0" class="form-control"
                                                                   name="tienkhachdua"
                                                                   th:attr="onkeyup='tinhtienthua(this.value, \'' + ${tab.codeBill} + '\')'">
                                                            <p style="font-size: 18px" class="mt-2"><strong
                                                                    th:id="'tienthua'+${tab.codeBill}"></strong></p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <button class="btn btn-warning mt-3"
                                                        style=" float: right;margin-right: 60px; width: 250px;height: 60px">
                                                    Thanh toán
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade"
                                 th:id="'modal'+${tab.codeBill}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="exampleModalCenterTitle"
                                 data-backdrop="static"
                                 data-keyboard="false">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <h5 class="py-3" align="center">Danh sách sản phẩm</h5>
                                        <div class="modal-body">
                                            <table class="table table-hover table-bordered"
                                                   th:id="${'product'+ i.index}">
                                                <thead>
                                                <tr>
                                                    <th style="text-align: center">STT</th>
                                                    <th style="text-align: center; width: 50px">Ảnh</th>
                                                    <th style="text-align: center; width: 200px">Tên sản phẩm</th>
                                                    <th style="text-align: center">Số lượng</th>
                                                    <th style="text-align: center">Giá bán</th>
                                                    <th style="text-align: center">Chức năng</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="x,arr : ${products}">
                                                    <td style="text-align: center" th:text="${arr.index + 1}"></td>
                                                    <td><img th:src="@{${x.img}}"
                                                             class="d-block ui-w-40 ui-bordered mr-4" alt=""></td>
                                                    <td style="text-align: center"><strong th:text="${x.name}"></strong>
                                                    </td>
                                                    <td style="text-align: center" th:text="${x.quantity}"></td>
                                                    <td style="text-align: center" th:text="${x.price}"></td>
                                                    <td style="text-align: center">
                                                        <!-- data-toggle="modal" data-target="#modal_box"-->
                                                        <a th:href="@{'/admin/sale/'+${tab.codeBill}+'/add-'+${x.id}}"
                                                           class="btn btn-secondary">chọn

                                                        </a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade"
                                 th:id="'qrcode'+${tab.codeBill}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="exampleModalCenterTitle"
                                 data-backdrop="static"
                                 data-keyboard="false">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <h5 class="py-3" align="center">Quét mã QR</h5>
                                        <div class="modal-body">

                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade"
                                 th:id="'modal-kh'+${tab.codeBill}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="exampleModalCenterTitle"
                                 data-backdrop="static"
                                 data-keyboard="false">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <h5 class="py-3" align="center">Danh sách Khách hàng</h5>
                                        <div class="modal-body">
                                            <table class="table table-hover table-bordered"
                                                   th:id="${'kh'+ i.index}">
                                                <thead>
                                                <tr>
                                                    <th style="text-align: center">STT</th>
                                                    <th style="text-align: center">Ảnh</th>
                                                    <th style="text-align: center">Tên khách hàng</th>
                                                    <th style="text-align: center">Số điện thoại</th>
                                                    <th style="text-align: center">Email</th>

                                                    <th style="text-align: center">Chức năng</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td style="text-align: center">1</td>
                                                    <td><img
                                                            src="https://res.cloudinary.com/dg8hhxkah/image/upload/v1698080470/avartar/vedidtoxs2wn2khvtekq.jpg"
                                                            class="d-block ui-w-40 ui-bordered mr-4" alt=""></td>
                                                    <td style="text-align: center">Khách bán lẻ</td>
                                                    <td style="text-align: center">-</td>
                                                    <td style="text-align: center">-</td>
                                                    <td style="text-align: center">
                                                        <!-- data-toggle="modal" data-target="#modal_box"-->
                                                        <a th:href="@{'/admin/sale/'+${tab.codeBill}+'/add-kh/-1'}"
                                                           class="btn btn-secondary">chọn</a>
                                                    </td>
                                                </tr>
                                                <tr th:each="x,arr : ${kh}">
                                                    <td style="text-align: center" th:text="${arr.index + 1}"></td>
                                                    <td><img th:src="@{${x.avatar}}"
                                                             class="d-block ui-w-40 ui-bordered mr-4" alt=""></td>
                                                    <td style="text-align: center" th:text="${x.name}"></td>
                                                    <td style="text-align: center" th:text="${x.phoneNumber}"></td>
                                                    <td style="text-align: center" th:text="${x.email}"></td>
                                                    <td style="text-align: center">
                                                        <!-- data-toggle="modal" data-target="#modal_box"-->
                                                        <a th:href="@{'/admin/sale/'+${tab.codeBill}+'/add-kh/'+${x.id}}"
                                                           class="btn btn-secondary">chọn</a>
                                                    </td>
                                                </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade"
                                 th:id="'modal-themkh'+${tab.codeBill}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="exampleModalCenterTitle"
                                 data-backdrop="static"
                                 data-keyboard="false">

                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">


                                    <div class="modal-content">

                                        <h5 class="py-3" align="center">Thên Khách hàng</h5>
                                        <div class="modal-body">
                                            <form id="myForm" class="row"
                                                  th:action="@{'/admin/sale/new-kh/'+ ${tab.codeBill}}"
                                                  th:object="${addUser}" method="post">
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Tên khách hàng <sup style="color: red">*</sup></label>
                                                    <input class="form-control" type="text" required th:field="*{name}">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Số điện thoại <sup
                                                            style="color: red">*</sup></label>
                                                    <input class="form-control" type="text" required
                                                           th:field="*{phoneNumber}">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Email <sup
                                                            style="color: red">*</sup></label>
                                                    <input class="form-control" type="text" required
                                                           th:field="*{email}">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="control-label">Giới tính <sup
                                                            style="color: red">*</sup></label>
                                                    <select class="form-control" th:field="*{gender}">
                                                        <option value="1">Nam</option>
                                                        <option value="0">Nữ</option>
                                                    </select>
                                                </div>
                                                <button type="submit" class="btn btn-save">Lưu</button>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div class="modal fade"
                                 th:id="'modal-pgg'+${tab.codeBill}"
                                 tabindex="-1"
                                 role="dialog"
                                 aria-labelledby="exampleModalCenterTitle"
                                 data-backdrop="static"
                                 data-keyboard="false">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <h5 class="py-3" align="center">Danh sách Khách hàng</h5>
                                        <div class="modal-body">
                                            <table class="table table-hover table-bordered"
                                                   th:id="${'pgg'+ i.index}">
                                                <thead>
                                                <tr>
                                                    <th style="text-align: center">STT</th>
                                                    <th style="text-align: center">Mã giảm giá</th>
                                                    <th style="text-align: center">Điều kiện</th>
                                                    <th style="text-align: center">Giảm giá</th>
                                                    <th style="text-align: center">Lượt dùng</th>

                                                    <th style="text-align: center">Chức năng</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr th:each="x,arr : ${pgg}">
                                                    <td style="text-align: center"
                                                        th:text="${arr.index + 1}"></td>
                                                    <td style="text-align: center" th:text="${x.giftCode}"></td>
                                                    <td style="text-align: center"
                                                        th:text="${'Đơn tối thiểu ' + x.minValue1 + ' đ'}"></td>
                                                    <td style="text-align: center"
                                                        th:text="${x.discount + '%'}"></td>
                                                    <td style="text-align: center" th:text="${x.quantity}"></td>
                                                    <td style="text-align: center">
                                                        <!-- data-toggle="modal" data-target="#modal_box"-->
                                                        <a th:href="@{'/admin/sale/'+${tab.codeBill}+'/add-pgg/'+${x.id}}"
                                                           class="btn btn-secondary">chọn</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal-footer">
                                            <a class="btn btn-cancel" data-dismiss="modal" href="#">Hủy bỏ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<div th:if="${message.status != null}">
    <div id="myAlert" class="alert alert-dismissible fade show position-fixed"
         style="top: 120px; right: 30px;width: 400px; height: 50px" th:classappend="${message.type}">
        <p th:text="${message.message}"></p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">QR Code Scanner</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Video container -->
                <video id="qr-video" width="100%" height="100%"></video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Product Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Content of the modal will be populated by the showProductModal function -->
                <h5 class="text-center" id="productName"></h5>
                <p>Price: <span id="selectedPrice"></span></p>
                <p>Quantity: <span id="selectedQuantity"></span></p>
                <label for="colorSelect">Color:</label>
                <select class="form-control" id="colorSelect"></select>
                <label for="sizeSelect">Size:</label>
                <select class="form-control" id="sizeSelect"></select>
                <label for="quantityInput">Quantity:</label>
                <input type="number" class="form-control" id="quantityInput" min="1" step="1" value="1">
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                <button type="button" class="btn btn-primary" id="addToCartBtn">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery-3.2.1.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/main1.js"></script>
<!-- The java/assets/script plugin to display page loading on top-->
<script src="/assets/js/plugins/pace.min.js"></script>
<!-- Page specific javascripts-->
<!-- Data table plugin-->
<script type="text/javascript" src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/assets/js/plugins/dataTables.bootstrap.min.js"></script>
<script>
    $('#product0').DataTable();
    $('#product1').DataTable();
    $('#product2').DataTable();
    $('#product3').DataTable();
    $('#product4').DataTable();
    $('#kh0').DataTable();
    $('#kh1').DataTable();
    $('#kh2').DataTable();
    $('#kh3').DataTable();
    $('#kh4').DataTable();


    var myAlert = document.getElementById("myAlert");
    // Tự đóng thông báo sau 5 giây
    setTimeout(function () {
        myAlert.style.display = "none";
    }, 5000); // 5000 ms = 5 giây
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Chọn tab đầu tiên và kích hoạt sự kiện chuyển đến tab đó
        $('#myTabs a:first').tab('show');
    });

    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> <i class="bx bxs-calendar" ></i> ' + today + ' | <i class="fa fa-clock-o" aria-hidden="true"></i>  : ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
</script>
<script>
    jQuery(function () {
        jQuery(".trash").click(function () {
            swal({
                title: "Cảnh báo",
                text: "Bạn có chắc chắn là muốn xóa?",
                buttons: ["Đóng", "Đồng ý"],
            })
                .then((willDelete) => {
                    if (willDelete) {
                        swal("Đã xóa thành công.!", {});
                    }
                });
        });
    });
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        // Hàm để lưu tab hiện tại vào cookie
        function saveSelectedTab(tabId) {
            document.cookie = "selectedTab=" + tabId;
        }

        // Hàm để đọc giá trị của cookie theo tên
        function getCookie(cookieName) {
            var name = cookieName + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var cookieArray = decodedCookie.split(';');
            for (var i = 0; i < cookieArray.length; i++) {
                var cookie = cookieArray[i].trim();
                if (cookie.indexOf(name) === 0) {
                    return cookie.substring(name.length, cookie.length);
                }
            }
            return "";
        }

        // Hàm để chọn tab dựa trên giá trị của cookie
        function selectTabFromCookie() {
            var selectedTab = getCookie("selectedTab");
            if (selectedTab) {
                // Chọn tab dựa trên giá trị trong cookie
                $('#myTabs a[href="#' + selectedTab + '"]').tab('show');
            }
        }

        // Gọi hàm chọn tab từ cookie khi trang được load
        selectTabFromCookie();

        // Gán sự kiện khi tab được chọn để lưu giá trị vào cookie
        $('#myTabs a').on('shown.bs.tab', function (e) {
            var selectedTab = e.target.hash.substring(1);
            saveSelectedTab(selectedTab);
        });
    });
    /*]]>*/
</script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/src/js.cookie.min.js"></script>
<script th:inline="javascript">

    function updateQuantity(productId, codeBill, newQuantity, price) {
        var newTotal = newQuantity * price;
        document.getElementById('total-' + productId).innerText = newTotal + ' đ';
        var reg = {
            productId: productId,
            codeBill: codeBill,
            newQuantity: newQuantity
        }
        console.log(reg);

        $.ajax({
            url: '/admin/sale/update-quantity',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(reg),
            success: function (response) {
                // Xử lý kết quả từ server nếu cần
                console.log(response);
                document.getElementById('totalAmount-' + codeBill).innerText = response.total;
                document.getElementById('total-' + codeBill).innerText = response.total;
                document.getElementById('giaGiam-' + codeBill).innerText = response.giaGiam;
                document.getElementById('phiShip-' + codeBill).innerText = response.phiShip;
                document.getElementById('grandTotal-' + codeBill).innerText = response.grandTotal;
                document.getElementById('selectPgg' + codeBill).remove();
            },
            error: function () {
                alert('Đã có lỗi xảy ra khi thêm sản phẩm vào giỏ hàng.');
            }
        });
    }

</script>
<script>
    function check(x, codeBill) {
        var input = document.getElementById('tienmat' + codeBill);
        if (x == 1) {
            input.style.display = 'block';
        } else {
            input.style.display = 'none';
        }
    }

    function tinhtienthua(tienKhach, codeBill) {
        var x = document.getElementById('tienthua' + codeBill);
        var o = document.getElementById('grandTotal-' + codeBill);
        let tienphaitra = o.innerText || o.textContent;

        let n = Number(tienKhach) - Number(tienphaitra);
        if (n >= 0) {
            x.innerText = 'Tiền thừa :' + n + ' đ';
        } else {
            x.innerText = 'Quý khách còn thiếu :' + -n + ' đ';
        }
        console.log(tienphaitra);
    }

    function giaoHang(e, codeBill) {
        if (e.checked) {
            document.getElementById('diachi' + codeBill).style.display = 'block';
        } else {
            document.getElementById('diachi' + codeBill).style.display = 'none';

        }
    }

    function giaoHangEdit(codeBill) {
        document.getElementById('diachi' + codeBill).style.display = 'block';
    }

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/

    var formsCount = 5; // Số lượng form/tab

    for (var i = 0; i < formsCount; i++) {
        // Thực hiện tất cả các xử lý JavaScript trong một vòng lặp
        (function (formIndex) {
            var city = document.getElementById("city" + formIndex);
            var district = document.getElementById("district" + formIndex);
            var ward = document.getElementById("ward" + formIndex);

            var Parameter = {
                url: "https://raw.githubusercontent.com/kenzouno1/DiaGioiHanhChinhVN/master/data.json",
                method: "GET",
                responseType: "application/json",
            };

            var promise = axios(Parameter);

            promise.then(function (result) {
                renderCity(result.data, formIndex);
            });

            function renderCity(data, index) {
                for (const x of data) {
                    city.options[city.options.length] = new Option(x.Name, x.Name);
                }
                city.onchange = function () {
                    district.length = 1;
                    ward.length = 1;
                    if (this.value !== "") {
                        const result = data.filter(n => n.Name === this.value);

                        for (const k of result[0].Districts) {
                            district.options[district.options.length] = new Option(k.Name, k.Name);
                        }
                    }
                };
                district.onchange = function () {
                    ward.length = 1;
                    const dataCity = data.filter((n) => n.Name === city.value);
                    if (this.value !== "") {
                        const dataWards = dataCity[0].Districts.filter(n => n.Name === this.value)[0].Wards;

                        for (const w of dataWards) {
                            ward.options[ward.options.length] = new Option(w.Name, w.Name);
                        }
                    }
                };
            }
        })(i);
    }

    /*]]>*/
</script>
<script>

</script>

</body>

</html>