<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="/assets/css/main1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
</head>
<body onload="time()" class="app sidebar-mini rtl">
<div th:replace="~{layout/navbar :: navbar}"></div>
<main class="app-content">


    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="tile">
                    <h3 class="tile-title">Thống kê</h3>

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link " href="thongkehoadon">Thống kê hóa đơn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="thongkedoanhthu" style="color: #0b93ff">Thống kê doanh thu
                                theo ngày</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="banchayngay">Thống kê sản phẩm</a>
                        </li>

                    </ul>


                    <div class="row" style="margin-top: 20px">


                        <!--                        <div class="panel panel-default " style="margin-left: 25px;width: 300px" >-->
                        <!--                            <div class="panel-heading">Doanh thu hôm nay</div>-->
                        <!--                            <div class="panel-body" th:text="${doanhthungayhomnay} + ' ' +  'VND'"></div>-->
                        <!--                        </div>-->

                        <!--                        <div class="panel panel-default" style="margin-left: 25px;width: 300px;height: 150px;background-color: #00a9da">-->
                        <!--                            <i style="color: #0a0a0a;font-size: 60px;" class="fa fa-bar-chart" aria-hidden="true"></i>-->
                        <!--                            <div class="panel-heading" style="font-size: 20px;font-weight: bold;color: white;">-->
                        <!--                                Doanh thu hôm nay</div>-->
                        <!--                            <div class="panel-body" style="font-size: 20px;font-weight: bold;color: white;text-align: center" th:text="${doanhthungayhomnay} + ' ' +  'VND'"></div>-->
                        <!--                        </div>-->

                        <div style="margin-left: 35px;width: 300px;height: 150px;background-color: #00a9da">
                            <div style="float: left;width: 100px;height:100% ">
                                <i style="color: #0a0a0a;font-size: 80px;margin-left: 10px;margin-top: 30px " class="fa fa-bar-chart" aria-hidden="true"></i>
                            </div>
                            <div style="float: left;width: 200px;height:100%">
                                <p style="font-size: 20px;font-weight: bold;color: white;text-align: center;margin-top: 30px">Doanh thu hôm nay</p>
                                <div  style="font-size: 20px;font-weight: bold;color: white;text-align: center" th:text="${doanhthungayhomnay} + ' ' +  'VND'"></div>
                            </div>

                        </div>


<!--                        <div class="panel panel-default " style="margin-left: 25px;width: 300px">-->
<!--                            <div class="panel-heading">Doanh thu tháng này</div>-->
<!--                            <div class="panel-body" th:text="${doanhthuthangnay} + ' ' +  'VND'"></div>-->

<!--                        </div>-->

                        <div style="margin-left: 25px;width: 300px;height: 150px;background-color:#ffdc3e ">
                            <div style="float: left;width: 100px;height:100% ">
                                <i style="color: #0a0a0a;font-size: 80px;margin-left: 10px;margin-top: 30px " class="fa fa-line-chart" aria-hidden="true"></i>
                            </div>
                            <div style="float: left;width: 200px;height:100%">
                                <p style="font-size: 20px;font-weight: bold;color: white;text-align: center;margin-top: 30px">Doanh thu tháng này</p>
                                <div  style="font-size: 20px;font-weight: bold;color: white;text-align: center" th:text="${doanhthuthangnay} + ' ' +  'VND'"></div>
                            </div>

                        </div>


<!--                        <div class="panel panel-default " style="margin-left: 25px;width: 300px;">-->
<!--                            <div class="panel-heading">Doanh thu năm nay</div>-->
<!--                            <div class="panel-body" th:text="${doanhthunamnay} + ' ' +  'VND'"></div>-->
<!--                        </div>-->

                        <div style="margin-left: 25px;width: 300px;height: 150px;background-color: #ffa2b3">
                            <div style="float: left;width: 100px;height:100% ">
                                <i style="color: #0a0a0a;font-size: 80px;margin-left: 10px;margin-top: 30px " class="fa fa-area-chart" aria-hidden="true"></i>
                            </div>
                            <div style="float: left;width: 200px;height:100%">
                                <p style="font-size: 20px;font-weight: bold;color: white;text-align: center;margin-top: 30px">Doanh thu năm nay</p>
                                <div  style="font-size: 20px;font-weight: bold;color: white;text-align: center" th:text="${doanhthunamnay} + ' ' +  'VND'"></div>
                            </div>

                        </div>

<!--                        <div class="panel panel-default " style="margin-left: 25px;width: 300px;">-->
<!--                            <div class="panel-heading">Tổng doanh thu</div>-->
<!--                            <div class="panel-body" th:text="${tongdoanhthu} + ' ' +  'VND'"></div>-->
<!--                        </div>-->

                        <div style="margin-left: 25px;width: 300px;height: 150px;background-color: #dabfff">
                            <div style="float: left;width: 100px;height:100% ">
                                <i style="color: #0a0a0a;font-size: 80px;margin-left: 10px;margin-top: 30px " class="fa fa-pie-chart" aria-hidden="true"></i>
                            </div>
                            <div style="float: left;width: 200px;height:100%">
                                <p style="font-size: 20px;font-weight: bold;color: white;text-align: center;margin-top: 30px">Tổng doanh thu</p>
                                <div  style="font-size: 20px;font-weight: bold;color: white;text-align: center" th:text="${tongdoanhthu} + ' ' +  'VND'"></div>
                            </div>

                        </div>
                    </div>


                    <div class="row">
                        <label style="margin-left: 25px;font-weight: bold;margin-top: 20px">Chọn thời gian</label>
                    </div>


                    <form method="get">
                        <div class="row" style="margin-top: 20px">
                            <input class="form-control col-sm-3  " type="date" name="ngay1" style="margin-left: 25px">

                            <input class="form-control col-sm-3  " type="date" name="ngay2" style="margin-left: 10px">

                            <button type="submit" class="btn btn-add btn-sm" style="margin-left: 10px">Tìm kiếm</button>
                        </div>
                    </form>

                    <!--                    <div class="row" style="margin-top: 30px">-->

                    <!--                        <a href="/admin/doanhthu7ngay" class="btn btn-add btn-sm col-sm-3" style="margin-left: 10px;">7 ngày trước</a>-->


                    <!--                        <a href="/admin/doanhthu1thang" class="btn btn-add btn-sm col-sm-3" style="margin-left: 10px;">1 tháng trước</a>-->

                    <!--                        <a href="/admin/doanhthu6thang" class="btn btn-add btn-sm col-sm-3" style="margin-left: 10px;">6 tháng trước</a>-->
                    <!--                    </div>-->


                </div>


            </div>


        </div>


        <div id="container"
             style="width: 100%; height: 400px; margin: 0 auto"></div>

        <script
                src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script
                src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script th:inline="javascript">
            $(function () {
                Highcharts.chart('container', {
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'Biểu đồ thống kê'
                    },
                    // subtitle: {
                    //     text: 'Details'
                    // },
                    xAxis: {
                        categories: [[${keySet}]],
                        crosshair: true
                    },
                    yAxis: {
                        min: 0,
                        max: 100,
                        title: {
                            text: 'Doanh thu'
                        }
                    },
                    tooltip: {
                        headerFormat: '<span style="font-size:20px">{point.key}</span><table>',
                        pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                            '<td style="padding:0"><b>{point.y:.1f} VND</b></td></tr>',
                        footerFormat: '</table>',
                        shared: true,
                        useHTML: true
                    },
                    plotOptions: {
                        column: {
                            pointPadding: 0.2,
                            borderWidth: 0
                        }
                    },
                    series: [{
                        name: 'Doanh thu',
                        data: [[${values}]]
                    }]
                });
            });
        </script>


        <!--        <ul class="nav nav-tabs">-->
        <!--            <li class="nav-item">-->
        <!--                <a class="nav-link " href="thongkehoadon">Thống kê hóa đơn</a>-->
        <!--            </li>-->
        <!--            <li class="nav-item">-->
        <!--                <a class="nav-link active" href="thongkedoanhthu" style="color: #0b93ff">Thống kê doanh thu theo ngày</a>-->
        <!--            </li>-->
        <!--            <li class="nav-item">-->
        <!--                <a class="nav-link" href="thongkesanpham">Thống kê sản phẩm</a>-->
        <!--            </li>-->

        <!--        </ul>-->
    </div>


</main>


<script src="/assets/js/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/popper.min.js"></script>
<script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/assets/js/main.js"></script>
<!--===============================================================================================-->
<script src="/assets//assets/js/plugins/pace.min.js"></script>
<!--===============================================================================================-->
<script type="text/javascript" src="/assets/js/plugins/chart.js"></script>
<!--===============================================================================================-->
<script type="text/javascript">
    var data = {
        labels: ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6"],
        datasets: [{
            label: "Dữ liệu đầu tiên",
            fillColor: "rgba(255, 213, 59, 0.767), 212, 59)",
            strokeColor: "rgb(255, 212, 59)",
            pointColor: "rgb(255, 212, 59)",
            pointStrokeColor: "rgb(255, 212, 59)",
            pointHighlightFill: "rgb(255, 212, 59)",
            pointHighlightStroke: "rgb(255, 212, 59)",
            data: [20, 59, 90, 51, 56, 100]
        },
            {
                label: "Dữ liệu kế tiếp",
                fillColor: "rgba(9, 109, 239, 0.651)  ",
                pointColor: "rgb(9, 109, 239)",
                strokeColor: "rgb(9, 109, 239)",
                pointStrokeColor: "rgb(9, 109, 239)",
                pointHighlightFill: "rgb(9, 109, 239)",
                pointHighlightStroke: "rgb(9, 109, 239)",
                data: [48, 48, 49, 39, 86, 10]
            }
        ]
    };
    var ctxl = $("#lineChartDemo").get(0).getContext("2d");
    var lineChart = new Chart(ctxl).Line(data);

    var ctxb = $("#barChartDemo").get(0).getContext("2d");
    var barChart = new Chart(ctxb).Bar(data);
</script>
<script type="text/javascript">
    //Thời Gian
    function time() {
        var today = new Date();
        var weekday = new Array(7);
        weekday[0] = "Chủ Nhật";
        weekday[1] = "Thứ Hai";
        weekday[2] = "Thứ Ba";
        weekday[3] = "Thứ Tư";
        weekday[4] = "Thứ Năm";
        weekday[5] = "Thứ Sáu";
        weekday[6] = "Thứ Bảy";
        var day = weekday[today.getDay()];
        var dd = today.getDate();
        var mm = today.getMonth() + 1;
        var yyyy = today.getFullYear();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        nowTime = h + " giờ " + m + " phút " + s + " giây";
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }
        today = day + ', ' + dd + '/' + mm + '/' + yyyy;
        tmp = '<span class="date"> ' + today + ' - ' + nowTime +
            '</span>';
        document.getElementById("clock").innerHTML = tmp;
        clocktime = setTimeout("time()", "1000", "Javascript");

        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }
    }
</script>

</body>

</html>