<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/assets/images/favicon.ico">
    <link href="\assets\libs\bootstrap-tagsinput\bootstrap-tagsinput.css" rel="stylesheet">
    <link href="\assets\libs\switchery\switchery.min.css" rel="stylesheet" type="text/css">
    <link href="\assets\libs\select2\select2.min.css" rel="stylesheet" type="text/css">
    <link href="\assets\libs\clockpicker\bootstrap-clockpicker.min.css" rel="stylesheet">
    <link href="\assets\libs\bootstrap-timepicker\bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
    <link href="\assets\libs\bootstrap-colorpicker\bootstrap-colorpicker.min.css" rel="stylesheet" type="text/css">
    <link href="\assets\libs\bootstrap-datepicker\bootstrap-datepicker.css" rel="stylesheet">
    <link href="\assets\libs\bootstrap-daterangepicker\daterangepicker.css" rel="stylesheet">
    <!-- Summernote css -->
    <link href="\assets\libs\summernote\summernote-bs4.css" rel="stylesheet" type="text/css">
    <!-- App css -->
    <link href="\assets\css\bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap-stylesheet">
    <link href="\assets\css\icons.min.css" rel="stylesheet" type="text/css">
    <link href="\assets\css\app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet">
    <style>
        input[type="file"] {
            display: block;
        }

        .imageThumb {
            max-height: 75px;
            border: 2px solid;
            padding: 1px;
            cursor: pointer;
        }

        .pip {
            display: inline-block;
            margin: 10px 10px 0 0;
        }

        .remove {
            display: block;
            background: #444;
            border: 1px solid black;
            color: white;
            text-align: center;
            cursor: pointer;
        }

        .remove:hover {
            background: white;
            color: black;
        }
    </style>
</head>

<body>


<!-- Topbar Start -->
<div th:replace="~{layout/topbar :: topbar}"></div>
<!-- end Topbar -->
<!-- ========== Left Sidebar Start ========== -->
<div th:replace="~{layout/sidebar :: sidebar}"></div>
<!-- Left Sidebar End -->

<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page bg-white">


    <!-- Start container-fluid -->
    <div class="content">
        <div class="py-1">

            <div class="row">
                <div class="col-12">
                    <div>
                        <h4 class="header-title mb-3">Sản phẩm</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">

                    <h5 class="font-14">Chỉnh sửa sản phẩm</h5>
                    <form class="form-horizontal" enctype="multipart/form-data" method="post"
                          th:action="@{'/admin/product/edit/save/'+${object.id}}" th:object="${object}">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="col col-form-label">Tên sản phẩm</label>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="quan ao"
                                           th:field="*{productName}">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col col-form-label" for="example-placeholder">Loại sản phẩm</label>
                                <div class="col">
                                    <select class="custom-select" th:field="*{typeProduct}">
                                        <option th:each="x : ${types}"
                                                th:value="${x.id}"
                                                th:text="${x.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col col-form-label">Chất liệu</label>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="cottong" th:field="*{fabric}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="col col-form-label">Kiểu dáng</label>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="trẻ trung năng động"
                                           th:field="*{style}">
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col col-form-label" for="example-placeholder">Họa tiết</label>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="Hello kitty"
                                           th:field="*{pattern}">

                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="col col-form-label">Hướng dẫn giặt</label>
                                <div class="col">
                                    <input type="text" class="form-control" placeholder="giặt máy tay"
                                           th:field="*{manual}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label class="col col-form-label">Giá bán</label>
                                <div class="col">
                                    <input type="number" class="form-control" placeholder="1" th:field="*{price}">
                                </div>
                            </div>
                            <div class="form-group col-md-8">
                                <label class="col col-form-label" for="example-textarea">Mô tả sản phẩm</label>
                                <div class="col">
                                <textarea class="form-control" rows="5" id="example-textarea"
                                          th:field="*{descriptionProduct}"></textarea>
                                </div>
                            </div>
                        </div>

                        <!--                            <div class="field form-group col-md-7">-->
                        <!--                                <h5>Chọn ảnh sản phẩm</h5>-->
                        <!--                                <input type="file" id="files" name="files[]" multiple th:field="*{files}"/>-->
                        <!--                            </div>-->


                        <div class="row">
                            <div class="col py-3">
                                <button class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </form>

                    <table>
                        <tr>
                            <h5>Chỉnh sửa hình ảnh</h5>
                            <td th:each=" x : ${object.images}">
                                <img th:src="@{${x.url}}" width="150px"/>
                                <a class="btn btn-danger" th:href="@{'/admin/product/delete/image/'+${x.id}+'/'+ ${object.id}}">Xóa</a>
                            </td>
                            <h5>Thêm ảnh mới</h5>
                            <td>
                                <form class="form-horizontal" enctype="multipart/form-data"
                                        method="post" th:action="@{'/admin/product/edit/image/'+ ${object.id}}">
                                    <input type="file" id="files" name="files" multiple/>
                                    <button class="btn btn-success">Lưu</button>
                                </form>
                            </td>
                        </tr>

                    </table>
                </div>

            </div>
        </div>


    </div>

    <!-- viết các thành phần vào đây -->

    <!-- end container-fluid -->


    <!-- Footer Start -->
    <div th:replace="~{layout/footer :: footer}"></div>
    <!-- end Footer -->

</div>
<!-- end content -->

<!-- END content-page -->

<script src="\assets\js\vendor.min.js"></script>
<script src="\assets\libs\moment\moment.min.js"></script>
<script src="\assets\libs\bootstrap-tagsinput\bootstrap-tagsinput.min.js"></script>
<script src="\assets\libs\switchery\switchery.min.js"></script>
<script src="\assets\libs\select2\select2.min.js"></script>
<script src="\assets\libs\parsleyjs\parsley.min.js"></script>
<script src="\assets\libs\bootstrap-filestyle2\bootstrap-filestyle.min.js"></script>
<script src="\assets\libs\bootstrap-timepicker\bootstrap-timepicker.min.js"></script>
<script src="\assets\libs\bootstrap-colorpicker\bootstrap-colorpicker.min.js"></script>
<script src="\assets\libs\clockpicker\bootstrap-clockpicker.min.js"></script>
<script src="\assets\libs\bootstrap-datepicker\bootstrap-datepicker.min.js"></script>
<script src="\assets\libs\bootstrap-daterangepicker\daterangepicker.js"></script>
<!-- Summernote js -->
<script src="\assets\libs\summernote\summernote-bs4.min.js"></script>

<!-- Init js-->
<script src="\assets\js\pages\form-advanced.init.js"></script>

<!-- App js -->
<script src="\assets\js\app.min.js"></script>
<!-- Vendor js -->

<script>
    $(document).ready(function () {
        if (window.File && window.FileList && window.FileReader) {
            $("#files").on("change", function (e) {
                var files = e.target.files,
                    filesLength = files.length;
                for (var i = 0; i < filesLength; i++) {
                    var f = files[i]
                    var fileReader = new FileReader();
                    fileReader.onload = (function (e) {
                        var file = e.target;
                        $("<span class=\"pip\">" +
                            "<img class=\"imageThumb\" src=\"" + e.target.result +
                            "\" title=\"" + file.name + "\"/>" +
                            "<br/><span class=\"remove\">Xóa</span>" +
                            "</span>").insertAfter("#files");
                        $(".remove").click(function () {
                            $(this).parent(".pip").remove();
                        });

                        // Old code here
                        // $("<img></img>", {
                        //   class: "imageThumb",
                        //   src: e.target.result,
                        //   title: file.name + " | Click to remove"
                        // }).insertAfter("#files").click(function(){$(this).remove();});

                    });
                    fileReader.readAsDataURL(f);
                }
                console.log(files);
            });
        } else {
            alert("Your browser doesn't support to File API")
        }
    });
</script>

</body>

</html>